<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
	<div class="container">
		<a routerLink="/" class="navbar-brand" href="#">Forum</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto text-center">
		  <li class="nav-item active">
			<a class="nav-link" routerLink="/subjects" href="#">Sujets</a>
		  </li>
		</ul>
		<div>
			<button *ngIf="isconnected==false" [routerLink]="['/home',1]" type="button"  class="btn btn-outline-info mr-1">Se connecter</button>
			<button *ngIf="isconnected==false" [routerLink]="['/home',2]" type="button"  class="btn btn-outline-info">S'inscrire</button>
			<button *ngIf="isconnected==true" (click)="logout()" type="button" class="btn btn-outline-dark">Déconnexion</button>
		</div>
	  </div>
  </div>
</nav>
<router-outlet></router-outlet>
