/* You can add global styles to this file, and also import other style files */
*{
	box-sizing: border-box;
}

.routerbtn:hover{
	color:blue;
	cursor:pointer;
	text-decoration: blue solid underline;
}
